.active {
  color: rgb(255, 247, 0);
  border-bottom: 3px solid rgb(255, 247, 0);
}

.nav li {
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav a {
  padding-bottom: 15px;
}

.topics li a {
  padding-bottom: 10px;
  margin-bottom: 50px;
}
